@font-face {
    font-family: 'blackchancery';
    src: url('./fonts/blkchcry-webfont.woff2') format('woff2'),
         url('./fonts/blkchcry-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

ul {
    list-style-type: none;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "blackchancery", sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex: 2 1 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: rgb(221, 221, 221);
    border-bottom: 2px solid black;
}

h1 {
    font-size: 2em;
}

nav {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

button {
    background-color: rgb(215, 35, 35);
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 20px;
    font-family: inherit;
    font-size: 1.5em;
}

button:hover {
    background-color: rgb(162, 28, 28);
}

#main-body {
    display: flex;
    flex: 15 1 0;
    justify-content: space-between;
    padding: 1%;
    background-image: url("./images/marble.jpg");
    background-size: cover;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    width: 100%;
    font-size: 1.2em;
    gap: 2em;
}

#content > div {
    border: 2px solid black;
    padding: 2%;
    border-radius: 25px;
    background-color: rgb(221, 221, 221);
    width: 20em;
}

img {
    max-width: 12em;
    max-height: 100%;
    min-height: 77%;
}

footer {
    flex: 0.2 1 0;
    text-align: center;
    padding: 2%;
    background-color: rgb(221, 221, 221);
    font-size: 1.5em;
    border-top: 2px solid black;
}